.reference__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin: 0 0 2em 0;
    padding: 0;
}
.btn__filter {
    border: none;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.85em 2em;
    font-size: 0.9em;
}
.btn__filter--active {
    background-color: var(--primary);
    color: var(--light);
    text-decoration: underline;
}
.reference__list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr)); */
    grid-template-columns: 1fr;
    gap: 2em 1em;
}
@media only screen and (min-width: 768px) {
    .reference__list {
        grid-template-columns: repeat(4, 1fr);
    }
}
.reference__item.hide {
    display: none;
}